language: android
jdk: oraclejdk8
sudo: required
before_script:  
 - cd JoinSports
 - chmod +x gradlew

# Android SDK Tools 25.2.3 and higher
# - sdkmanager --update
before_install: 
  -  export PATH=${PATH}:${ANDROID_HOME}/tools:${ANDROID_HOME}/platform-tools
  -  android update sdk --no-ui --all --filter platform-tools,android-25,extra-android-m2repository
  - sdkmanager --update
  #-  android update sdk --no-ui --filter build-tools-23.0.2,android-23
  -  sudo ls -ltr /usr/local/android-sdk
  -  whoami
  -  sudo cp -R /usr/local/android-sdk-* ${ANDROID_HOME}
  -  sudo ls -ltr ${ANDROID_HOME}
  -  sudo mkdir ${ANDROID_HOME}/licenses
  -  sudo touch ${ANDROID_HOME}/licenses/android-sdk-license
  -  sudo chown travis:travis -R ${ANDROID_HOME}
  -  sudo echo -e \"8933bad161af4178b1185d1a37fbf41ea5269c55\" > ${ANDROID_HOME}/licenses/android-sdk-license
  -  sudo echo -e \"84831b9409646a918e30573bab4c9c91346d8abd\" > ${ANDROID_HOME}/licenses/android-sdk-license
  
android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    # - tools
    # - platform-tools

    # The BuildTools version used by your project
    #- build-tools-19.1.0

    # The SDK version used to compile your project
    #- android-22

    # Additional components
    #- extra-google-google_play_services
    #- extra-google-m2repository
    #- extra-android-m2repository
    #- addon-google_apis-google-19

    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    #- sys-img-armeabi-v7a-android-22
    #- sys-img-armeabi-v7a-android-17
    